@charset "utf-8";
/* CSS Document */

#form_login{
	margin:1em 0;
	padding-top:55px;
		}
	#form_login fieldset{
	padding:0;
	border:none;
	float:left;
	display:inline;
	width:290px;
	margin-left:33px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
		}		
 
	#form_login p{margin:.5em 0;}
	#form_login label{
	display:block;
}
	#form_login input, #form_login textarea{
	width:290px;
	border:1px solid #999999;
	-moz-border-radius:0.3em;
	-webkit-border-radius:.3em;
	border-radius:.3em;
	background-color: #fff;
	background-repeat: repeat-x;
	height: 30px;
	margin-top: 8px;
	margin-bottom: 18px;
	font-size: 16px;
		}
#form_login input:hover, #form_login textarea:hover{
	border:1px solid #008DF2;
	-moz-border-radius:0.3em;
	-webkit-border-radius:.3em;
	border-radius:.3em;
}

#form_login input:focus, #form_login textarea:focus {
	background-color: #008DF2;
	color: #FFF;
}
	#form_login textarea{
		height:125px;
		overflow:auto;
		}
	#form_login p.submit{
	clear:both;
	padding:0 25px 20px 25px;
	margin:0;
	text-align:right;
	background-repeat: no-repeat;
	background-position: 0 100%;
		}
	 input.button{
	width:78px !important;
	height:32px;
	border:none;
	color:#fff;
	cursor:pointer;
	text-align:center;
	background-image: url(/assets/html/images/login_but.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin-left: 33px;
	}
